@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary: #2a9d8f;
  --secondary: #264653;
}
body {
  margin: 0;
  padding: 20px;  
  font-family: "Roboto";
  background: var(--secondary);
}
* {
  color: #e9c46a;
  margin: 0;
}

h2 {
  font-size: 30px;
}
p {
  font-size: 25px;
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}



main {
  max-width: 1200px;
  margin: 40px auto;
}

input {
  color: black;
  font-size: 17px;
}
form {
 margin-top: 30px;
  }



footer{
  display: flex;
justify-content: center;
width: 50%;
position: fixed;
  bottom: 0;
}
.github, .stack{
  
  font-size: 80px;
}
